 {{> header this }}

<div class="row">

<form action="/divisionwinners" method="POST">
<div class="col-md-6">

<div class="form-group">
<label> AFC East Winner</label>
<select>
    <option value="New England Patriots"> New England Patriots</option>
    <option value="Buffalo Bills"> Buffalo Bills </option>
    <option value="New York Jets"> New York Jets</option>
    <option value="Miami Dolphins"> Miami Dolphins</option>
</select>
</div>

<div class="form-group">
<label> AFC West Winner</label>
<select>
    <option value="Denver Broncos"> Denver Broncos</option>
    <option value="Kansas City Chiefs"> Kansas City Chiefs </option>
    <option value="Oakland Raiders"> Oakland Raiders</option>
    <option value="San Diego Chargers"> San Diego Chargers</option>
</select>
</div>

<div class="form-group">
<label> AFC North Winner</label>
<select>
    <option value="Baltimore Ravens"> Baltimore Ravens</option>
    <option value="Cincinnati Bengals"> Cincinnati Bengals </option>
    <option value="Cleveland Browns"> Cleveland Browns</option>
    <option value="Pittsburgh Steelers"> Pittsburgh Steelers</option>
</select>
</div>


<div class="form-group">
<label> AFC South Winner</label>
<select>
    <option value="Houston Texans"> Houston Texans</option>
    <option value="Indianapolis Colts"> Indianapolis Colts</option>
    <option value="Jacksonville Jaguars"> Jacksonville Jaguars</option>
    <option value="Tennessee Titans"> Tennessee Titans</option>
</select>
</div>

<div class="form-group">

        <label> Wildcard #5 Seed AFC</label>
        <select>
            <option value="Tennessee Titans">Tennessee Titans</option>
        </select>
        </div>

<div class="form-group">

        <label> Wildcard #6 Seed AFC</label>
        <select>
            <option value="Tennessee Titans">Tennessee Titans</option>
        </select>
        </div>
</div>

<div class="col-md-6">


<div class="form-group">
<label> NFC East Winner</label>
<select>
    <option value="Dallas Cowboys"> Dallas Cowboys</option>
    <option value="New York Giants"> New York Giants</option>
    <option value="Philadelphia Eagles"> Philadelphia Eagles</option>
    <option value="Washington Redskins"> Washington Redskins</option>
</select>
</div>

<div class="form-group">
<label> NFC West Winner</label>
<select>
    <option value="Arizona Cardinals"> Arizona Cardinals</option>
    <option value="San Francisco 49ers"> San Francisco 49ers</option>
    <option value="Seattle Seahawks"> Seattle Seahawks</option>
    <option value="Los Angeles Rams"> Los Angeles Rams</option>
</select>
</div>

<div class="form-group">
<label> NFC North Winner</label>
<select>
    <option value="Chicago Bears"> Chicago Bears</option>
    <option value="Detroit Lions"> Detroit Lions</option>
    <option value="Green Bay Packers"> Green Bay Packers</option>
    <option value="Minnesota Vikings"> Minnesota Vikings</option>
</select>
</div>

<div class="form-group">
<label> NFC South Winner</label>
<select>
    <option value="Atlanta Falcons"> Atlanta Falcons</option>
    <option value="Carolina Panthers"> Carolina Panthers</option>
    <option value="New Orleans Saints"> New Orleans Saints</option>
    <option value="Tampa Bay Buccaneers"> Tampa Bay Buccaneers</option>
</select>
</div>

<div class="form-group">

        <label>Wildcard #5 Seed NFC</label>
        <select>
            <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers</option>
        </select>
        </div>

<div class="form-group">

        <label>Wildcard #6 Seed NFC</label>
        <select>
            <option value="Tampa Bay Buccaneers">Tampa Bay Buccaneers</option>
        </select>
        </div>
</div>

    <div>
        <input class="btn btn-default" type="submit" value="Indsend"> 
<a href="/overview"> <button type="button" class="btn btn-danger">Tilbage</button></a>
    </div>
</div>



</form>




 {{> footer}}