<html>
    <head>
        <title> Daniel Hollmann.dk</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<div>
    <h3>Hello I am Header!</h3>
</div>